<li>
  <% if user.avatar_url.nil? %>
    <%= gravatar_for user %>
  <% else %>
    <%= image_tag user.avatar.thumbnail.url %>
  <% end %>
  <%= link_to user.name, user %>
  | <%= user.suppervisor? ? 'Suppervisor' : 'Member' %>
</li>
