<table class="table">
  <thead>
    <tr>
      <th>#</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <th scope="row"><%=subject.id%></th>
          <td>
          <%= link_to subject.name, subject_path(subject)%>
          </td>
          <td><%= subject.description %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
