<li>  
  <p>
    <h3><%= subject.name %></h3>
    <h4>
      <%= subject.status(current_user, current_course) ? "Finish" : "Training" %>
    </h4>
    <br>
    <%= subject.description %>
  </p>
  <p>
  <%= render subject.tasks %>
  </p>  
</li>
